<!DOCTYPE HTML>
<html>

<head>
    <title>Atlanta Movie</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<style type="text/css">
    .table.table-striped {
        width: 75%;
        margin: 0 auto;
        border-width: 1px;
        background-color: rgba(150, 150, 150, 0.26);
        border-color: #000000;
    }
</style>

<body>

    <center>
        <h1>Company Detail</h1>
    </center>

    <br>

<form action="/manage_company/true" method="get">
    <center>
    <button type="submit" id="btnsubmit" class="btn btn-default">Back</button>
    </center>
</form>

<br>

<center>
    <p><b>Name: </b>{{company_name}}</p>
    <p><b>Employees: </b>
    {% for employee in employees %}
        {% if loop.index == loop.length %}
            {{employee[0]}} {{employee[1]}}
        {% else %}
            {{employee[0]}} {{employee[1]}}, 
        {% endif %}
    {% endfor %}
    </p>
    <h3>Theaters</h3>
    <br>
    <div class="form-group">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Manager</th>
                <th>City</th>
                <th>State</th>
                <th>Capacity</th>
            </tr>
        
        {% for theater in theaters %}
        <tr>
            <td>{{theater[0]}}</td>
            <td>{{theater[1]}}</td>
            <td>{{theater[2]}}</td>
            <td>{{theater[3]}}</td>
            <td>{{theater[4]}}</td>
        </tr>
        {% endfor %}
        
        </table>
    </div>
</center>

</body>

</html>
