<!DOCTYPE HTML>
<html>

<head>
    <title>Atlanta Movie</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<style type="text/css">
    .table.table-striped {
        width: 75%;
        margin: 0 auto;
        border-width: 1px;
        background-color: rgba(150, 150, 150, 0.26);
        border-color: #000000;
    }
</style>

<body>

    <center>
        <h1>Manage User</h1>
    </center>

    <br>
<form action="/functionality" method="get">
    <center>
    <button type="submit" id="btnsubmit" class="btn btn-default">Back</button>
    </center>
</form>
<br>
<form action="/manage_user/false" method="post" enctype="multipart/form-data" >
    <div>
        <center>
        <label>Username</label>
        <input type="text" name="username" size="15"> 
        <label>Status</label>
        <select name="status">
            {% for status in statuses %}
            <option value="{{status}}">{{status}}</option>
            {% endfor %}
        </select> 
        <button type="submit" id="btnsubmit" class="btn btn-default">Filter</button>
        </center>
        <input type="hidden" name="type" value="filter">
    </div>
</form>

<form action="/manage_user/false" method="post" enctype="multipart/form-data" >
    <center>
    <div class="form-group">
        <button type="submit" id="btnsubmit" class="btn btn-default" name="action" value="approve">Approve</button>
        <button type="submit" id="btnsubmit" class="btn btn-default" name="action" value="decline">Decline</button>
    </div>
    </center>
    <div class="form-group">
        <table class="table table-striped">
            <tr>
                <th>Select</th>
                <th><a href="/manage_user_sort/username">Username</a></th>
                <th><a href="/manage_user_sort/creditCardCount">Credit Card Count</a></th>
                <th><a href="/manage_user_sort/userType">User Type</a></th>
                <th><a href="/manage_user_sort/status">Status</a></th>
            </tr>
        
        {% for user in users %}
        <tr>
            <td><input type="radio" name=user value="{{user[0]}}"></td>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
        </tr>
        {% endfor %}
        
        </table>
    </div>
    <input type="hidden" name="type" value="action">
</form>


</body>

</html>
